@theme-color: #409EFF;
@gray-color: #ecedee;
@gray-color-dep: #777777;
@transition-time: 0.3s;
@shadow-color: 0px 8px 25px 20px rgba(44, 16, 111, 0.06);

@font-face {
    font-family: "jxzk";
    src: url("@/assets/font/有爱魔兽圆体-M.ttf");
}

.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}