@font-face {
  font-family: "jxzk";
  src: url("@/assets/font/有爱魔兽圆体-M.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jxzk";
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
#app {
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
body {
  background: url("@/assets/images/bg.jpg");
}
main {
  min-height: 100vh;
  margin-top: 5px !important;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
input,
textarea {
  transition: 0.3s;
}
input:focus,
textarea:focus {
  border-color: #40a0ff !important;
}
.v-md-pre-wrapper .line-numbers-wrapper {
  width: 2.5em !important;
}
.v-md-pre-wrapper pre {
  padding-left: 3.5em !important;
}
.v-md-pre-wrapper::after {
  width: 2.5em !important;
}
